* {
    margin: 0px;
    padding: 0px;
}

body {
    background: gray url('images/fundo.jpg');
}

#marte {
    border: 1px solid black;
    margin: 50px auto;
    width: 450px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    background-color: beige;
}

#painelResultado {
    border: 1px solid black;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    margin: 20px auto;
    text-align: center;
    color: red;
    font: 30px bold Arial;
    line-height: 35px;
}

#sonda {
    width: 80px;
    margin: 5px;
}

#txtmarcacaoMalha,
#txtmarcacaoSonda,
#txtComandosSonda {
    margin-top: 10px;
}

#comandosSonda {
    border: 1px solid black;
    width: 200px;
    height: 20px;
    margin: 0px auto;
    border-radius: 10px;
    color: green;
    line-height: 20px;
}

hr {
    margin: 15px auto;
}

h5 {
    color: gray;
}

input[type="button"] {
    padding: 5px 15px;
    margin-top: 20px;
    border-radius: 8px;
}

input[type="button"]:hover {
    background-color: gray;
    color: white;
}

input[type="text"] {
    width: 100px;
    height: 20px;
    margin-top: 30px;
    border-radius: 10px;
    color: green;
    text-align: center;
}